# --- GraphQL ---
*.graphql linguist-language=GraphQL linguist-detectable=true
*.gql linguist-language=GraphQL linguist-detectable=true

# --- Git Configurations ---
.gitattributes linguist-language=Git-Attributes linguist-detectable=true
.gitignore     linguist-language=Ignore-List linguist-detectable=true
.gitconfig     linguist-language=Git-Config linguist-detectable=true
.gitmodules    linguist-language=Git-Config linguist-detectable=true

# --- General Configs (Optional but common) ---
.editorconfig  linguist-language=EditorConfig linguist-detectable=true
