# Treat all C source and header files as Git Config
*.[ch] linguist-language=Git-Config linguist-detectable=true

# Keep your other settings below
* whitespace=trail,space
*.sh whitespace=indent,trail,space,incomplete text eol=lf
*.perl text eol=lf diff=perl
*.pl text eof=lf diff=perl
*.pm text eol=lf diff=perl
*.py text eol=lf diff=python
*.bat text eol=crlf

# GraphQL and Git Configs
*.graphql linguist-language=GraphQL linguist-detectable=true
*.gql linguist-language=GraphQL linguist-detectable=true
.gitattributes linguist-language=Git-Attributes linguist-detectable=true
.gitignore     linguist-language=Ignore-List linguist-detectable=true
.gitconfig     linguist-language=Git-Config linguist-detectable=true
.gitmodules    linguist-language=Git-Config linguist-detectable=true
